doctype html 

html(lang="es")
	head 
		title Sleeve
		meta(charset="utf-8")
		link(href='./Public/Sleeve.css' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css')
	



	body
		
		header
			nav 	
				ul 
					li 
						a(href="/")
							h1 SLEEVE
					li 
						a(href="#") Idioma
							span 
								i.iconiconicon-bubbles3  
						ul 
							li 
								a(href="#") español
						
							li 
								a(href="#") ingles
					li 
						a(href="contactos") Contactenos
							span 
								i.iconicon-bubbles3
		block cabecesar 
