extends ./LayoutSleeve.jade
block cabecesar 
	body
		section 
			div 
				ul 
					div
						li 
							input(type="text" name="login" )
						li 
							input(type="password" name="paswoed" )
						li 
							button(name="" value="submit") Entrar
			div
				ul 
					li 
						h2 Bienvenido a Sleeve
		
						#dddd
							form(method="post" action="users")
							table(width="500px" )
								tbody
									tr 
										td 
											label(for="first_name") Nombre
										td 
											input(type="text" name="first_name" maxlength="50" size="25")
									tr
										td(valign="top")
											label(for="last_name") Apellido
										td 
											input(type="text" name="last_name" maxlength="50" size="25")
									tr 		
										td 
											label(for="email") dirección de E-mail: 
										td
											input( name="email" maxlength="80" size="25" type="text")
									

									tr
										td
											label(for="telephone") número de teléfono: 
									
										td 

											input(type="text" name="telephone" maxlength="25" size="15")
									tr
										td
											label(for="adicionales") Solicitud: 
									
										td 

											input(type="text" name="Solicitud" maxlength="100" size="25")

									tr
										td(colspan="2" style="text-align:right")
											input(type="submit" value="Enviar")

			
			div
				ul 
					li 
						h2 adcionales
						p Bunbvenido por favor registrat para poder acceder a la mejor informacion del anime Bunbvenido por favor registrat para poder acceder a la mejor informacion del anime Bunbvenido por favor registrat para poder acceder a la mejor informacion del anime Bunbvenido por favor registrat para poder acceder a la mejor informacion del anime Bunbvenido por favor registrat para poder acceder a la mejor informacion del anime Bunbvenido por favor registrat para poder acceder a la mejor informacion del anime Bunbvenido por favor registrat para poder acceder a la mejor informacion del anime Bunbvenido por favor registrat para poder acceder a la mejor informacion del anime Bunbvenido por favor