extends ./LayoutSleeve.jade
block cabecesar 
	body
		section 
			div 
				ul 
					div
						li 
							input(type="text" name="login" )
						li 
							input(type="password" name="paswoed" )
						li 
							button(name="" value="submit") Entrar
			

			div
				ul 
					li 
						h2 adcionales
						p Bunbvenido por favor registrat para poder acceder a la mejor informacion del anime Bunbvenido por favor registrat para poder acceder a la mejor informacion del anime Bunbvenido por favor registrat para poder acceder a la mejor informacion del anime Bunbvenido por favor registrat para poder acceder a la mejor informacion del anime Bunbvenido por favor registrat para poder acceder a la mejor informacion del anime Bunbvenido por favor registrat para poder acceder a la mejor informacion del anime Bunbvenido por favor registrat para poder acceder a la mejor informacion del anime Bunbvenido por favor registrat para poder acceder a la mejor informacion del anime Bunbvenido por favor